<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="app.component.css">
  <title>procesual</title>
</head>
<body>
  <header class="header">
    Encabezado
  </header>
<nav class="nav">
  menu 
</nav>
<main class="main">
  <section class="section">
    Lado izquierdo
  </section>
  <aside class="aside">
    Lado derecho
  </aside>
</main>
<footer class="footer">
  Pie de pagina
</footer>
  
</body>
</html>